.item {
  display: flex;
  text-align: center;

  padding: 5px 5px;
}

.item:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}

.icon {
  width: 25px;
  height: 25px;
}

.title {
  margin-left: 15px;

  font-size: 18px;

}