.feed {
  position: fixed;
  right: 0;

  width: 15%;
  height: 100%;
  
  overflow-x: auto;

  background-color: #e7e7e7;
}

.feed::-webkit-scrollbar{
  width: 0;
}

@media (max-width: 450px) {

  .feed {
    width: 0;
  }
}