.item {
  display: flex;
  align-items: center;

  padding: 5px 0 5px 15px;
}

.item:active {
  background-color: rgb(238, 238, 238);
}

.item:hover {
  border-left: 5px solid blue;
  background-color: rgb(238, 238, 238);
}

.inner {
  display: flex;
  vertical-align: center;
}

.photo {
  padding: 5px 20px 0 5px;
  width: 25px;
  height: 25px;
}

.navlink {
  width: 230px;
  font-size: 20px;
  color: #000;
  align-items: center;

  text-decoration: none;
}

.activeText {
  font-weight: 700;
  color: #337aff;
  transition: font-weight 0.1s linear;
}
