.main {

  margin: 0 auto;

  width: 320px;
  height: 100%;

  font-size: 44px;
  color: white;
  font-weight: 700;

  text-align: center;

  background-color: blueviolet;

  border: 3px solid #000;
  border-radius: 15px;
}

