.content {
  position: fixed;
  width: 800px;
  height: 100%;

  overflow: auto;

  margin-left: 18%;
  margin-right: 20%;

  padding-bottom: 20px;

  scrollbar-color: blue;
}

.content::-webkit-scrollbar {
  width: 0;
  background-color: blue;
}

.container {
  padding: 10px 30px 0 20px;
}

@media (max-width: 450px) {
  .content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    padding: 2px;
  }
}
