.main {
  margin-top: 30px;
}

.profile {
  margin: 0 auto;
}

.profilePhoto {
  padding: 20px;

  border: 3px solid rgb(91, 241, 141);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.userName {
  font-size: 22px;
  font-weight: 700;
}