.main {
  background-color: #e7e7e7;

  /* border-top: 3px solid #000;
  border-left: 3px solid #000; */
}

.header {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
}

.notificationTitle {
  font-size: 22px;
  font-weight: 700;
  color: blue;
}

.filter {
  color: rgb(177, 177, 177);
  margin-right: 20px;
}