.main {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
}

.find {
  display: flex;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 3px;
}

.input {
  width: 250px;
  height: 25px;
  border: none;
  padding: 0 0 0 10px;

  color: black;
  outline: none;

  transition: width 0.2s linear;
}

/* .input:focus {
  width: 450px;
} */

.button {
  outline: none;
  border: none;
  border-radius: 0;

  margin-right: 10px;
  border-left: 1px solid #000;
  cursor: pointer;
}

.addPost {
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px;
  outline: none;
  color: white;
  background-color: blue;
  cursor: pointer;

  border-radius: 5px;
}

.modal {
  position: absolute;
  height: 500px;

  margin: 0 auto;

  background-color: #000;
}
