/* .appWrapper {
  display: grid;
  grid-template-areas:
    'sidebar content feed';
  grid-template-columns: 2fr 8fr 3fr;

} */

html::-webkit-scrollbar {
  width: 0;
}

.appWrapper {
  display: flex;
}

