/* .appWrapper {
  display: grid;
  grid-template-areas:
    'sidebar content feed';
  grid-template-columns: 2fr 8fr 3fr;

} */

.appWrapper {
  display: flex;
}

.content {
  grid-area: 'content';
}